/* Link Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
section {
  padding-top: 2rem;
}

/* login */
.login .row {
  background: white;
  border-radius: 30px;
}
.login img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: #a78822;
}
.inp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
}
.btn1 {
  width: 50%;
  border-radius: 50px;
  background-color: #57a5df;
  border-color: #57a5df;
}
.login a {
  font-size: 2rem;
  color: #57a5df;
}
.login .col-lg-10 {
  padding-left: 7rem;
  padding-right: -7rem;
}
/* login End */

/* Register */
.inp1 {
  height: 50px;
  width: 33%;
  border: none;
  outline: none;
  border-radius: 60px;
}
/* Register End */

/* Landing Page */
/* Navbar */
nav,
footer {
  background-color: #57a5df;
}
.logo {
  width: 3rem;
}
#i-search {
  border-radius: 50px;
}
#cart {
  color: white;
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: -20px;
}
#list {
  color: white;
  font-size: 28px;
  margin-top: -10px;
  margin-bottom: -20px;
  margin-right: -10px;
}
#profile {
  color: white;
  font-size: 27px;
  margin-top: -10px;
  margin-bottom: -20px;
}
.n-cart {
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  color: white;
  background-color: red;
  border-radius: 50px;
  height: 16px;
  width: 16px;
}
.navbar-toggler {
  border-radius: 50px;
  font-size: 15px;
}
/* Navbar End */

/* Slider */
#carouselExampleInterval {
  padding-top: 0.5rem;
  margin: auto;
}
.geser {
  border-radius: 5px;
}
#slider {
  background-color: #f3f3f3;
}
/* Slider End */

/* Kategori */
#kategori {
  background-color: #f3f3f3;
  padding-bottom: 2rem;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #686868;
}
.g-kat {
  width: 100px;
}
.t_kat {
  margin-top: 20px;
}
.tampilkan {
  text-align: right;
  margin-top: -3rem;
}
/* Kategori End */

/* Banner */
#banner {
  background-color: #f3f3f3;
}
.banner {
  margin: auto;
}
/* Banner End */

/* Produk Pilihan */
#p-pilihan {
  background-color: #f3f3f3;
  padding-bottom: 2rem;
}
.cb-pilihan {
  margin-top: -10px;
}
.harga-dc {
  font-size: 14px;
  color: rgb(196, 64, 64);
  margin-bottom: -2px;
}
.harga-normal {
  font-size: 11px;
  color: lightgray;
}
.btn-pp {
  background-color: #57a5df;
  border-color: #57a5df;
  display: block;
  padding: 1px;
}
.card-text {
  margin-bottom: 10px;
}
/* Produk Pilihan End */

/* Produk Promo */
#p-promo {
  background-color: #f3f3f3;
  padding-bottom: 2rem;
}
.ppromo {
  margin-bottom: 1px;
  font-size: 11px;
  text-align: center;
  color: white;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: rgb(196, 64, 64);
}
/* Produk Promo End */

/* Berita */
#berita {
  background-color: #f3f3f3;
  padding-bottom: 2rem;
}
.berita {
  cursor: pointer;
}
/* Berita End */

/* Detail Produk */
.b-dp {
  background-color: #f3f3f3;
}
.d-produk {
  padding-top: 80px;
}
.d-produk .col-12 img {
  padding: 0;
}
.d-produk .col-12 {
  padding: 20px;
}
.d-produk h4 {
  margin: 20px 0;
  font-weight: bold;
  color: rgb(196, 64, 64);
  font-size: 18px;
}
.d-produk select {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid #57a5df;
}
.d-produk input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #57a5df;
}
input:focus {
  outline: none;
}
.btn-dp {
  display: block;
  border-radius: 50px;
  background-color: #57a5df;
  border-color: #57a5df;
}
.d-produk h3 {
  margin-top: 25px;
  font-size: 20px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.d-produk h1 {
  font-size: 30px;
  line-height: 32px;
}
.col-12 .sticky-top {
  top: 60px;
}
.keterangan {
  margin-bottom: 0.3rem;
  display: flex;
}
.j-keterangan {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  width: 6.25rem;
}
.j-keterangan div {
  display: block;
}
/* Detail Produk End */

/* Detail Toko */
#detail_toko h1 {
  font-family: 'Montserrat', sans-serif;
  color: #4e4e4e;
}
.keunggulan {
  border: 1px solid #57a5df;
  padding-bottom: 1rem;
  border-radius: 10px;
}
.keunggulan form i {
  font-size: 50px;
  color: #57a5df;
  margin: auto;
}
.keunggulan form p {
  font-family: 'Montserrat', sans-serif;
  color: #4e4e4e;
  font-size: 13px;
  margin: auto;
}
/* Detail TokoEnd */
/* Landing Page End */

/* Cart Item */
#keranjang {
  background-color: #f3f3f3;
}
.cart-page {
  margin: 80px auto;
}
.cart-page table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-page th {
  text-align: left;
  padding: 5px;
  color: white;
  background-color: #57a5df;
  font-weight: normal;
}
.cart-page td {
  padding: 10px 5px;
}
.cart-page td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
.cart-page .hapus {
  color: rgb(196, 64, 64);
  font-size: 12px;
  text-decoration: none;
}
.cart-page td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.cart-page td p {
  margin-bottom: 0;
}
.total-harga {
  display: flex;
  justify-content: flex-end;
}
.total-harga table {
  border-top: 3px solid #57a5df;
  width: 100%;
  max-width: 350px;
}
.cart-page td:last-child {
  text-align: right;
  padding-right: 20px;
}
.cart-page th:last-child {
  padding-right: 20px;
  text-align: right;
}
.t-jumlah {
  width: 180px;
}
.btn-cart {
  border-radius: 50px;
  background-color: #57a5df;
  border-color: #57a5df;
}
/* Cart Item End */

/* Checkout */
#checkout {
  background-color: #f3f3f3;
}
.alamat table {
  border-top: 3px solid #57a5df;
}
.alamat th {
  text-align: left;
  padding: 5px;
  color: #57a5df;
  background-color: transparent;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.alamat table a {
  text-decoration: none;
  color: rgb(196, 64, 64);
}
.alamat td:last-child {
  text-align: center;
}
.alamat th:last-child {
  text-align: left;
}
.kurir td i {
  color: #57a5df;
}
.kurir input[type='radio'] {
  width: 60px;
}
.kurir select {
  border: 1px solid lightgray;
}
.bayar label {
  width: 100%;
}
.card-input-element {
  display: none;
}
.card-input {
  margin: 10px;
  padding: 00px;
  border: 1px solid lightgray;
}
.card-input:hover {
  cursor: pointer;
}
.card-input-element:checked + .card-input {
  box-shadow: 0 0 2px 2px #57a5df;
}
.panel-body {
  padding: 15px;
  background-color: #f7f7f7;
}
.panel-body img {
  width: 80px;
  height: 30px;
  float: right;
}
.panel-body p {
  margin-bottom: 0;
}
/* Checkout End */

/* Bukti Transaksi */
#bukti_transaksi {
  background-color: #f3f3f3;
}
#bukti_transaksi .cart-page {
  margin: 50px auto;
}
/* Bukti Transaksi End */

/* List Produk */
.sortir-barang .container {
  overflow: hidden;
}

.sortir-barang .filterDiv {
  float: left;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 5px;
  display: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  /* Hidden by default */
}
/* The "show" class is added to the filtered elements */
.sortir-barang .show {
  display: block;
}
/* Style the buttons */
#myBtnContainer .btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}
/* Add a light grey background on mouse-over */
#myBtnContainer .active,
#myBtnContainer .btn:hover {
  background-color: #666;
  color: white;
}
.sortir-barang p {
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
}
/* List Produk End */

/* search produk */
#SemuaProduk {
  background-color: #f3f3f3;
}
#SemuaProduk .sticky-top {
  top: 4.4rem;
}
#SemuaProduk table {
  background-color: white;
  width: 100%;
}
#SemuaProduk th {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #57a5df;
  font-weight: normal;
}
#SemuaProduk td {
  padding: 5px;
}
#SemuaProduk select {
  border-color: slategray;
  color: #4e4e4e;
}
#SemuaProduk #urutkan {
  border-color: transparent;
}
#SemuaProduk .filter-barang {
  background-color: #57a5df;
  padding: 0.5rem;
  color: white;
}
.t-pulau {
  padding-top: 2rem;
}
/* search produk End */

.detail-pesanan {
  background-color: #f5ffff;
}
.detail-pesanan .text-muted {
  font-size: 13px;
}
.btn-pembayaran {
  border-radius: 50px;
  background-color: #57a5df;
  border-color: #57a5df;
}

/* display */
@media screen and (max-width: 1199px) {
  .login img {
    border-bottom-left-radius: 0;
  }
}
@media screen and (max-width: 990px) {
  .cari {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 768px) {
  .d-produk h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .cart-info p {
    display: none;
  }
  .t-jumlah {
    width: 120px;
  }
  .total-harga {
    justify-content: center;
  }
  .login img {
    display: none;
  }
  .login .col-lg-10 {
    padding: 0;
  }
  #detail_toko h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 1rem;
  }
  #detail_toko p {
    text-align: justify;
  }
  #detail_toko form p {
    font-size: 11px;
  }
  .tampilkan {
    text-align: right;
    margin-top: -2.4rem;
    font-size: 12px;
  }
  .panel-body img {
    width: 40px;
    height: 20px;
  }
}
/* display end */
